@charset "utf-8";
:root {
  --boder-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

body {
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
