{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "singleQuote": false,
        "parser": "markdown-nocjsp"
      }
    }
  ]
}
