.page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding: 5rem 3rem 2rem;

    /* ~~~~~ SP ~~~~~~ */
    @media (max-width: 767px) {
        padding: 4rem 1.5rem 5%;
    }
}


.page-header {
    padding: 0 0 5rem;

    /* ~~~~~ SP ~~~~~~ */
    @media (max-width: 767px) {
        padding: 0 0 3rem;
    }
}

.page-header__title {
    font-size: 3rem;
    margin-bottom: 0;

    /* ~~~~~ SP ~~~~~~ */
    @media (max-width: 767px) {
        font-size: 2rem;
    }
}

.page-footer {
    text-align: right;
    padding: 3rem 0 5rem;
    font-size: 10px;

    a {
        border-bottom: 1px solid;
        display: inline-block;
        margin-right: 1em;
    }

    small {
        font-size: 10px;
    }
}
