.c-posts-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    width: 320px;
    transform: translate(-100%);
    transition: 0.4s ease-in-out;
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0);

    &.is-show {
        transform: translate(0%);
        box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.07);
    }

    /* ~~~~~ SP ~~~~~~ */
    @media (max-width: 767px) {
        width: calc(100% - 70px);
        max-width: 320px;
    }
}

.c-posts-nav__toggle {
    position: absolute;
    left: 100%;
    width: 80px;
    height: 60px;
    transition: 0.3s;

    span,
    &::after,
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        display: block;
        width: 6px;
        height: 6px;
        background-color: #222;
        border-radius: 3px;
        margin-top: -4px;
        margin-left: -4px;
        transition: 0.6s ease-in-out;
        transform-origin: 100% 50%;
    }

    &::before {
        transform: translate(-12px);
    }

    &::after {
        transform: translate(12px);
    }

    &:hover {
        &:not(.is-show) {
            &::before {
                transform: translate(-10px);
            }

            &::after {
                transform: translate(10px);
            }
        }
    }

    &.is-show {
        transform: rotate(180deg);

        span,
        &::after,
        &::before {
            height: 4px;
            transition-delay: 0.1s;
        }

        span {
            margin-left: -11px;
            width: 22px;
        }

        &::after,
        &::before {
            margin-left: -2px;
            width: 14px;
            // transition-delay: .2s;
        }

        &::before {
            transform: translateY(-1px) rotate(-45deg);
        }

        &::after {
            transform: translateY(1px) rotate(45deg);
        }
    }
}

.c-posts-nav__nav {
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    padding: 0 0.6em 0 0;

    /*スクロールバー全体*/
    &::-webkit-scrollbar {
        width: 10px;
    }

    /*スクロールバーの軌道*/
    &::-webkit-scrollbar-track {
        border-radius: 12px;
        background-color: #FFF;

    }

    /*スクロールバーの動く部分*/
    &::-webkit-scrollbar-thumb {
        background-color: #CCC;
        border-radius: 10px;
        border: 3px solid #FFF;
    }
}

.c-posts-nav__top {
    display: block;
    padding: 0.6em 1em;
    font-size: 0.9rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.c-posts-nav__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.6em 1em;
    padding-right: 0;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &.is-current {
        color: #CCC;
    }
}

.c-posts-nav__index {
    font-weight: 600;
    flex: 0 0 2.8em;
    position: relative;
    padding-left: 0.6em;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid;
        border-radius: 100%;
        background-color: #000;
        left: -0.3em;
        top: 50%;
        transform: translateY(-30%);
    }
}
