{
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "tabWidth": 4
      }
    }

  ]
}
